<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "GameServer", suffix: " · Phoenix Framework" %>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <style>
        /*
         * Cubes
         */

        .cubes {
            display: grid;
            grid-template-columns: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px ;
            grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
        }

        .cubes div {
            border-width: 1px;
            border-style: solid;
        }

        .cubes div:hover {
            background-color: yellow;
        }

        .odd {
            background-color: black;
        }

        div.selected {
            border-width: 4px;
            border-color: red;
        }
    </style>
</head>
<body>
<%= @inner_content %>
</body>
</html>
